<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}"
 	  lang="ko-kr">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


<link rel="stylesheet"
	th:href="@{/bootstrap/5.3.1/css/bootstrap.min.css}" />
<script th:src="@{/bootstrap/5.3.1/js/bootstrap.min.js}" charset="UTF-8"></script>

<!-- bootstrap icons :  -->
<link rel="stylesheet" th:href="@{/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css}">

</head>
<body>
<div layout:fragment="content" class="main_sect_pnl">
	<div id="myPage" class="content_sect_pnl" >
		
		<div id="mini_board">
					<br>
				<h3>&nbsp;&nbsp;&nbsp;예약 내역</h3>

				<table class="table mx-4" style="width: 74vw">
					<thead>
						<tr>
							<th>번호</th>
							<th>방 이름</th>
							<th>예약 날짜</th>
							<th>예약 여부</th>
							<th>예약 수정</th>
						</tr>
					</thead>
				</table>
		</div>
	</div>
</div>
</body>
</html>